.side-card{
    position: relative;
    width: 57.6rem;
    height: 57rem;
    z-index: 2;
    background-color: $color-white;
    border-radius:$border-radius;
    margin-left: -3rem;
    margin-top:-0.5rem;
} 